In [1]:
import pandas as pd

In [7]:
data = pd.read_csv('all_energy_statistics.csv')

In [10]:
pd.set_option('display.max_rows', 500)

In [9]:
data

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
0,Austria,Additives and Oxygenates - Exports,1996,"Metric tons, thousand",5.0,NaN,additives_and_oxygenates
1,Austria,Additives and Oxygenates - Exports,1995,"Metric tons, thousand",17.0,NaN,additives_and_oxygenates
2,Belgium,Additives and Oxygenates - Exports,2014,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
3,Belgium,Additives and Oxygenates - Exports,2013,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
4,Belgium,Additives and Oxygenates - Exports,2012,"Metric tons, thousand",35.0,NaN,additives_and_oxygenates
...,...,...,...,...,...,...,...
1189477,Viet Nam,Electricity - total wind production,2012,"Kilowatt-hours, million",92.0,1.0,wind_electricity
1189478,Viet Nam,Electricity - total wind production,2011,"Kilowatt-hours, million",87.0,NaN,wind_electricity
1189479,Viet Nam,Electricity - total wind production,2010,"Kilowatt-hours, million",50.0,NaN,wind_electricity
1189480,Viet Nam,Electricity - total wind production,2009,"Kilowatt-hours, million",10.0,NaN,wind_electricity
1189481,Viet Nam,Electricity - total wind production,2008,"Kilowatt-hours, million",1.0,NaN,wind_electricity

In [15]:
#PrzeszukujÄ™ dane pod kÄ…tem jakichÅ› podejrzanych wartoÅ›ci/brakÃ³w itd

data.sample(10)

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
1123977,United States,Electricity - Own use by coal mines,1999,"Kilowatt-hours, million",12910.00,NaN,total_electricity
386631,France,Gas Oil/ Diesel Oil - Consumption by commerce ...,2002,"Metric tons, thousand",3480.00,NaN,gas_oil_diesel_oil
204533,Slovakia,Electricity generating capacity - From other s...,2004,"Kilowatts, thousand",10.00,NaN,electricity_net_installed_capacity_of_electric...
573454,Belgium,Industrial Waste - Transformation,2014,Terajoules,6121.00,NaN,industrial_waste
72816,Pakistan,Bitumen - Production,2001,"Metric tons, thousand",197.00,NaN,bitumen
887526,"Korea, Republic of",Other kerosene - Consumption by domestic navig...,2001,"Metric tons, thousand",1.00,NaN,other_kerosene
861495,Poland,Other bituminous coal - consumption by agricul...,1994,"Metric tons, thousand",2721.00,NaN,other_bituminous_coal
776073,Israel,Naphtha - production from refineries,2000,"Metric tons, thousand",932.00,NaN,naphtha
122137,Bulgaria,Lignite brown coal - total resources in place,1993,"Metric tons, thousand",7409000.00,NaN,brown_coal
340577,Paraguay,"Fuelwood - Consumption by manufacturing, const...",2013,"Cubic metres, thousand",2878.16,NaN,fuelwood

In [6]:
# Sprawdzam jakie sÄ… kraje
data['country_or_area'].unique()

array(['Austria', 'Belgium', 'Czechia', 'Finland', 'France', 'Greece',
       'Hungary', 'Italy', 'Korea, Republic of', 'Netherlands', 'Romania',
       'Serbia', 'Slovakia', 'Ukraine', 'United Kingdom', 'United States',
       'Brunei Darussalam', 'Bulgaria', 'Canada', 'Chile', 'Croatia',
       'Iran (Islamic Rep. of)', 'Jordan', 'Lithuania', 'Mexico', 'Oman',
       'Other Asia', 'Poland', 'Portugal', 'Spain', 'Sweden',
       'Switzerland', 'T.F.Yug.Rep. Macedonia', 'Turkey', 'Uzbekistan',
       'Argentina', 'Colombia', 'Germany', 'Norway', 'Australia',
       'China, Macao SAR', 'Japan', 'Denmark', 'Ireland', 'Philippines',
       'Bangladesh', 'Eritrea', 'Ethiopia', 'Lesotho', 'Nepal', 'Niger',
       'Pakistan', 'Serbia and Montenegro', 'Tunisia', 'Botswana',
       'Georgia', 'Republic of Moldova', 'Peru', 'South Africa',
       'Iceland', 'Latvia', 'Luxembourg', 'Cuba', 'Kyrgyzstan',
       'Singapore', 'Thailand', 'United Arab Emirates', 'Uruguay',
       'Armenia', 'Fiji', "Korea, Dem.Ppl's.Rep.", 'Russian Federation',
       'Swaziland', 'Zimbabwe', 'Afghanistan', 'Antigua and Barbuda',
       'Azerbaijan', 'Bahamas', 'Belize', 'Bolivia (Plur. State of)',
       'Brazil', 'Burkina Faso', 'Cameroon', 'Cayman Islands',
       'Central African Rep.', 'China', 'Comoros', 'Congo', 'Costa Rica',
       "CÃ´te d'Ivoire", 'Dem. Rep. of the Congo', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Ethiopia, incl. Eritrea', 'Faeroe Islands', 'French Guiana',
       'Germany, Fed. R. (former)', 'Greenland', 'Guatemala', 'Guinea',
       'Guyana', 'Honduras', 'Indonesia', 'Israel', 'Jamaica', 'Jersey',
       'Kazakhstan', 'Kenya', 'Kuwait', "Lao People's Dem. Rep.",
       'Liberia', 'Libya', 'Malawi', 'Malaysia', 'Maldives', 'Mauritania',
       'Mayotte', 'Morocco', 'Myanmar', 'Namibia', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niue', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Sao Tome and Principe', 'Senegal', 'Seychelles',
       'Slovenia', 'Solomon Islands', 'Sri Lanka', 'Sudan (former)',
       'Suriname', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'United Rep. of Tanzania', 'Venezuela (Bolivar. Rep.)',
       'Yugoslavia, SFR (former)', 'Zambia', 'Algeria', 'CuraÃ§ao',
       'Gabon', 'Malta', 'Neth. Antilles (former)', 'Sierra Leone',
       'USSR (former)', 'Barbados', 'Benin', 'Chad', 'Djibouti',
       'French Polynesia', 'Ghana', 'Grenada', 'Guadeloupe', 'Haiti',
       'Iraq', 'Kiribati', 'Madagascar', 'Mali', 'Martinique',
       'Pacific Islands (former)', 'Palau', 'St. Helena and Depend.',
       'St. Vincent-Grenadines', 'Syrian Arab Republic', 'Uganda',
       'Yemen', 'Yemen, Dem. (former)', 'Burundi', 'India', 'Mauritius',
       'Mozambique', 'Nigeria', 'RÃ©union', 'Rwanda', 'Samoa', 'Somalia',
       'St. Kitts-Nevis', 'Viet Nam', 'Belarus', 'Cyprus', 'Cabo Verde',
       'Albania', 'Bahrain', 'Bosnia and Herzegovina',
       'China, Hong Kong SAR', 'Czechoslovakia (former)', 'Angola',
       'Bermuda', 'Bhutan', 'Equatorial Guinea', 'Lebanon',
       'Saudi Arabia', 'St. Lucia', 'St. Pierre-Miquelon',
       'State of Palestine', 'Tajikistan', 'German Dem. R. (former)',
       'Anguilla', 'Mongolia', 'Montenegro', 'Cambodia', 'South Sudan',
       'Sudan', 'Andorra', 'Aruba', 'Bonaire, St Eustatius, Saba',
       'British Virgin Islands', 'Dominica', 'Falkland Is. (Malvinas)',
       'Gambia', 'Gibraltar', 'Qatar', 'Sint Maarten (Dutch part)',
       'Turkmenistan', 'Turks and Caicos Islands', 'Vanuatu',
       'Guinea-Bissau', 'Micronesia (Fed. States of)', 'Timor-Leste',
       'Yemen Arab Rep. (former)', 'American Samoa', 'Liechtenstein',
       'Puerto Rico', 'Cook Islands', 'Guam', 'Guernsey', 'Isle of Man',
       'Marshall Islands', 'Montserrat', 'Nauru',
       'Northern Mariana Islands', 'Tuvalu', 'United States Virgin Is.',
       'Wallis and Futuna Is.',
       'Commonwealth of Independent States (CIS)', 'Antarctic Fisheries'],
      dtype=object)

In [16]:
# Sprawdzam jakie mamy kategorie
categories = data['category'].unique()
categories

array(['additives_and_oxygenates', 'animal_waste', 'anthracite',
       'aviation_gasoline', 'bagasse', 'biodiesel', 'biogases',
       'biogasoline', 'bitumen', 'black_liquor', 'blast_furnace_gas',
       'brown_coal_briquettes', 'brown_coal', 'charcoal', 'coal_tar',
       'coke_oven_coke', 'coking_coal', 'conventional_crude_oil',
       'direct_use_of_geothermal_heat',
       'direct_use_of_solar_thermal_heat',
       'electricity_net_installed_capacity_of_electric_power_plants',
       'ethane', 'falling_water', 'fuel_oil', 'fuelwood', 'gas_coke',
       'gas_oil_diesel_oil', 'gasoline_type_jet_fuel', 'gasworks_gas',
       'geothermal', 'hard_coal', 'heat', 'hydro', 'industrial_waste',
       'kerosene_type_jet_fuel', 'lignite', 'liquified_petroleum_gas',
       'lubricants', 'motor_gasoline', 'municipal_wastes', 'naphtha',
       'natural_gas_including_lng', 'natural_gas_liquids',
       'nuclear_electricity', 'of_which_biodiesel',
       'of_which_biogasoline', 'oil_shale_oil_sands',
       'other_bituminous_coal', 'other_coal_products',
       'other_hydrocarbons', 'other_kerosene', 'other_liquid_biofuels',
       'other_oil_products_n_e_c', 'other_recovered_gases',
       'other_vegetal_material_and_residues', 'paraffin_waxes',
       'patent_fuel', 'peat', 'peat_products', 'petroleum_coke',
       'refinery_feedstocks', 'refinery_gas', 'solar_electricity',
       'sub_bituminous_coal', 'thermal_electricity',
       'tide_wave_and_ocean_electricity', 'total_electricity',
       'total_refinery_output', 'uranium',
       'white_spirit_and_special_boiling_point_industrial_spirits',
       'wind_electricity'], dtype=object)

In [19]:
# Sprawdzam w jakiej jednostce wyraÅ¼ona jest kaÅ¼da z kategorii

category_unit = data[['unit', 'category']].drop_duplicates(subset = ['unit', 'category'])
category_unit

,unit,category
0,"Metric tons, thousand",additives_and_oxygenates
3018,Terajoules,animal_waste
4940,"Metric tons, thousand",anthracite
9834,"Metric tons, thousand",aviation_gasoline
28005,"Metric tons, thousand",bagasse
40584,"Metric tons, thousand",biodiesel
45152,Terajoules,biogases
56037,"Metric tons, thousand",biogasoline
59908,"Metric tons, thousand",bitumen
80651,Terajoules,black_liquor
84805,Terajoules,blast_furnace_gas
96768,"Metric tons, thousand",brown_coal_briquettes
102671,"Metric tons, thousand",brown_coal
122400,"Metric tons, thousand",charcoal
150400,"Metric tons, thousand",coal_tar
152645,Terajoules,coke_oven_coke
164491,"Metric tons, thousand",coking_coal
170961,"Metric tons, thousand",conventional_crude_oil
198313,Terajoules,direct_use_of_geothermal_heat
200749,Terajoules,direct_use_of_solar_thermal_heat
204398,"Kilowatts, thousand",electricity_net_installed_capacity_of_electric...
254627,"Metric tons, thousand",ethane
256641,"Kilowatt-hours, million",falling_water
257603,"Metric tons, thousand",fuel_oil
332735,"Cubic metres, thousand",fuelwood
384767,"Metric tons, thousand",gas_coke
385132,"Metric tons, thousand",gas_oil_diesel_oil
482777,"Metric tons, thousand",gasoline_type_jet_fuel
484070,Terajoules,gasworks_gas
490912,"Kilowatt-hours, million",geothermal
491408,"Metric tons, thousand",hard_coal
533715,Terajoules,heat
563371,"Kilowatt-hours, million",hydro
567115,Terajoules,industrial_waste
575674,"Metric tons, thousand",kerosene_type_jet_fuel
610232,"Metric tons, thousand",lignite
622693,"Metric tons, thousand",liquified_petroleum_gas
684849,"Metric tons, thousand",lubricants
706223,"Metric tons, thousand",motor_gasoline
759421,Terajoules,municipal_wastes
766221,"Metric tons, thousand",naphtha
782190,Terajoules,natural_gas_including_lng
846351,"Metric tons, thousand",natural_gas_liquids
854930,"Kilowatt-hours, million",nuclear_electricity
855686,"Metric tons, thousand",of_which_biodiesel
858310,"Metric tons, thousand",of_which_biogasoline
860480,"Metric tons, thousand",oil_shale_oil_sands
861236,"Metric tons, thousand",other_bituminous_coal
884374,"Metric tons, thousand",other_coal_products
884479,"Metric tons, thousand",other_hydrocarbons
886441,"Metric tons, thousand",other_kerosene
929907,"Metric tons, thousand",other_liquid_biofuels
931524,"Metric tons, thousand",other_oil_products_n_e_c
953605,Terajoules,other_recovered_gases
955710,Terajoules,other_vegetal_material_and_residues
969669,"Metric tons, thousand",paraffin_waxes
977597,"Metric tons, thousand",patent_fuel
980832,"Metric tons, thousand",peat
986145,"Metric tons, thousand",peat_products
987852,"Metric tons, thousand",petroleum_coke
1004346,"Metric tons, thousand",refinery_feedstocks
1010042,"Metric tons, thousand",refinery_gas
1025748,"Kilowatt-hours, million",solar_electricity
1026701,"Metric tons, thousand",sub_bituminous_coal
1032106,"Kilowatt-hours, million",thermal_electricity
1037595,"Kilowatt-hours, million",tide_wave_and_ocean_electricity
1037653,"Kilowatt-hours, million",total_electricity
1171569,"Metric tons, thousand",total_refinery_output
1177352,Metric Tons,uranium
1178036,"Metric tons, thousand",white_spirit_and_special_boiling_point_industr...
1188115,"Kilowatt-hours, million",wind_electricity

In [21]:
# Kategorie wyraÅ¼one w kilowatogodzinach (ÅºrÃ³dÅ‚a energii - podzielone poniÅ¼ej)

category_unit[category_unit['unit'].str.contains('^Kilowatt')==True]

,unit,category
204398,"Kilowatts, thousand",electricity_net_installed_capacity_of_electric...
256641,"Kilowatt-hours, million",falling_water
490912,"Kilowatt-hours, million",geothermal
563371,"Kilowatt-hours, million",hydro
854930,"Kilowatt-hours, million",nuclear_electricity
1025748,"Kilowatt-hours, million",solar_electricity
1032106,"Kilowatt-hours, million",thermal_electricity
1037595,"Kilowatt-hours, million",tide_wave_and_ocean_electricity
1037653,"Kilowatt-hours, million",total_electricity
1188115,"Kilowatt-hours, million",wind_electricity

In [34]:
# Kategorie wyraÅ¼one w tonach (to jest grupa paliw)

fuels = category_unit[category_unit['unit'].str.contains('Metric tons')==True]

fuels

,unit,category
0,"Metric tons, thousand",additives_and_oxygenates
4940,"Metric tons, thousand",anthracite
9834,"Metric tons, thousand",aviation_gasoline
28005,"Metric tons, thousand",bagasse
40584,"Metric tons, thousand",biodiesel
56037,"Metric tons, thousand",biogasoline
59908,"Metric tons, thousand",bitumen
96768,"Metric tons, thousand",brown_coal_briquettes
102671,"Metric tons, thousand",brown_coal
122400,"Metric tons, thousand",charcoal
150400,"Metric tons, thousand",coal_tar
164491,"Metric tons, thousand",coking_coal
170961,"Metric tons, thousand",conventional_crude_oil
254627,"Metric tons, thousand",ethane
257603,"Metric tons, thousand",fuel_oil
384767,"Metric tons, thousand",gas_coke
385132,"Metric tons, thousand",gas_oil_diesel_oil
482777,"Metric tons, thousand",gasoline_type_jet_fuel
491408,"Metric tons, thousand",hard_coal
575674,"Metric tons, thousand",kerosene_type_jet_fuel
610232,"Metric tons, thousand",lignite
622693,"Metric tons, thousand",liquified_petroleum_gas
684849,"Metric tons, thousand",lubricants
706223,"Metric tons, thousand",motor_gasoline
766221,"Metric tons, thousand",naphtha
846351,"Metric tons, thousand",natural_gas_liquids
855686,"Metric tons, thousand",of_which_biodiesel
858310,"Metric tons, thousand",of_which_biogasoline
860480,"Metric tons, thousand",oil_shale_oil_sands
861236,"Metric tons, thousand",other_bituminous_coal
884374,"Metric tons, thousand",other_coal_products
884479,"Metric tons, thousand",other_hydrocarbons
886441,"Metric tons, thousand",other_kerosene
929907,"Metric tons, thousand",other_liquid_biofuels
931524,"Metric tons, thousand",other_oil_products_n_e_c
969669,"Metric tons, thousand",paraffin_waxes
977597,"Metric tons, thousand",patent_fuel
980832,"Metric tons, thousand",peat
986145,"Metric tons, thousand",peat_products
987852,"Metric tons, thousand",petroleum_coke
1004346,"Metric tons, thousand",refinery_feedstocks
1010042,"Metric tons, thousand",refinery_gas
1026701,"Metric tons, thousand",sub_bituminous_coal
1171569,"Metric tons, thousand",total_refinery_output
1178036,"Metric tons, thousand",white_spirit_and_special_boiling_point_industr...

In [23]:
# Kategorie wyraÅ¼one w terajulach

category_unit[category_unit['unit'].str.contains('Terajoules')==True]

              unit                             category
3018    Terajoules                         animal_waste
45152   Terajoules                             biogases
80651   Terajoules                         black_liquor
84805   Terajoules                    blast_furnace_gas
152645  Terajoules                       coke_oven_coke
198313  Terajoules        direct_use_of_geothermal_heat
200749  Terajoules     direct_use_of_solar_thermal_heat
484070  Terajoules                         gasworks_gas
533715  Terajoules                                 heat
567115  Terajoules                     industrial_waste
759421  Terajoules                     municipal_wastes
782190  Terajoules            natural_gas_including_lng
953605  Terajoules                other_recovered_gases
955710  Terajoules  other_vegetal_material_and_residues

In [28]:
category_unit[category_unit['unit'].str.contains('Cubic metres')==True]

                          unit  category
332735  Cubic metres, thousand  fuelwood

In [30]:
category_unit[category_unit['unit'].str.contains('^Kilowatt')==True].category.unique()

array(['electricity_net_installed_capacity_of_electric_power_plants',
       'falling_water', 'geothermal', 'hydro', 'nuclear_electricity',
       'solar_electricity', 'thermal_electricity',
       'tide_wave_and_ocean_electricity', 'total_electricity',
       'wind_electricity'], dtype=object)

In [33]:
#PodziaÅ‚ ÅºrÃ³deÅ‚ 

renewables = ['falling_water', 'geothermal', 'hydro', 
       'solar_electricity',
       'tide_wave_and_ocean_electricity',
       'wind_electricity']

nuclear = ['nuclear_electricity']

clean_energy = renewables + nuclear

fossil_energy = ['thermal_electricity'] #czyli jeÅ›li dobrze rozumiem wszystko co z paliw kopalniach tj. wÄ™giel, gaz itd. 

overall_capacity = ['electricity_net_installed_capacity_of_electric_power_plants']